<div id='text_block'>
  <p>In case of a homeowner’s insurance claim, you need to be able to provide proof of ownership of your belongings to make sure you get paid a fair amount.</p>
  <p>We provide a safe, secure way for you to store photos and details of your belongings in the cloud.</p>
  <p>That way, you never have to worry about your records being destroyed or lost.</p>
</div>


<div id='dark_background'>

    <div class="testimonial">
      <p class='blurb'>Mixtape bushwick migas, affogato chillwave +1 meggings mustache hammock vinyl umami occupy waistcoat. Artisan cornhole salvia offal</p>
      <%= image_tag 'profile_1.jpg', class:'picture' %>
    </div>
    <div class="testimonial">
      <p class='blurb'>Mixtape bushwick migas, affogato chillwave +1 meggings mustache hammock vinyl umami occupy waistcoat. Artisan cornhole salvia offal</p>
      <%= image_tag 'profile_2.jpg', class:'picture' %>
    </div>
    <div class="testimonial">
      <p class='blurb'>Mixtape bushwick migas, affogato chillwave +1 meggings mustache hammock vinyl umami occupy waistcoat. Artisan cornhole salvia offal</p>
      <%= image_tag 'profile_3.jpg', class:'picture' %>
    </div>

  <br>
  <div>
    <h2>get started today</h2>
    <%= link_to 'Create Account', new_user_path, class: 'button button_highlight' %>
  </div>
</div>
