<h1 id="landing_title">create a secure record of your<br>belongings in case of the worst</h1>
<%= link_to 'Create Account', new_user_path, class: 'button button_highlight' %>
<%= link_to 'What We Do', about_path, class: 'button button_white' %>
