//-----------------------------LANDING PAGE-----------------------------
h1#landing_title {
  color: white;
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  // margin: 0rem 0 6rem 0;
  padding-top: 10rem;
  padding-bottom: 3rem;
}
.button {
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
    font-weight: 400;

    border-radius: 2rem;
}
.button_highlight {
  background-color: $highlight;
  padding: 1rem 2rem;
  margin-right: 2.5rem;

  &:hover {
    background-color: darken($highlight, 10%);
  }
}
.button_white {
  background-color: white;
  color: black;
  padding: 1rem 3rem;

  &:hover {
    background-color: darken(white, 20%);
  }
}


// ---------ABOUT PAGE------------------------------//


  #text_block {
    padding-top: 5rem;

    p {
      width: 60%;
      font-size: 2rem;
      font-weight: 700;
      color: white;
      margin-left: 20%;
      margin-top: 0;
    }
  }


#dark_background {
  background-color: #333;
  min-height: 480px;
  // background-position: center;
  // background-attachment: fixed;
  background-size: cover;
  text-align: center;
  position: relative;
  padding: 1.5rem;
  .testimonial {
    background: white;
    float: left;
    width: 25%;
    margin-top: -3rem;
    margin-left: 6%;
    height: 13rem;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #000;
    .blurb {
      float: left;
      width: 50%;
      margin: 1rem 0 0 1rem;
    }
    .picture {
      float: right;
      border-radius: 50%;
      margin: 2rem 10%;
      box-shadow: 3px 3px 5px #474c5a;
    }
  }

  h2 {
    display: block;
    color: white;
    margin-top: 10rem;
    margin-bottom: 3rem;
    font-size: 4rem;
    font-weight: 300;
  }
  .button {
      text-decoration: none;
      font-size: 1.25rem;
      color: white;
      font-weight: 400;
      border-radius: 2rem;
  }
  .button_highlight {
    background-color: $highlight;
    padding: 1rem 2rem;

    &:hover {
      background-color: darken($highlight, 10%);
    }
  }
}
